/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

header {
  background: #1F3B73;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a.netlify-link {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 10px dotted rgb(176, 204, 255);
  padding-bottom: 10px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #86aeff;
}

h3 {
  color: rgb(85, 85, 85);
}

h4 {
  color: black;
  display: flex;
  justify-content: center;
}

#intro-exp {
  color: black;
  display: flex;
  justify-content: center;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nav-item {
  padding: 15px 20px;
  display: block;
}

.nav-item:hover{
  background-color: #517bcf ;
  border-radius: 25px;
}

.nav-item.active{
  background-color: #1C5AD6;
  font-weight: bold;
  border-radius: 25px ;
}

main {
  padding: 2rem;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.btn {
  background: #517bcf;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.btn:hover {
  background: #86aeff;
}

.img-card {
  float: right;
  height: auto+40px;
  width: 280px;
  margin: 0 0 10px 10px;
  background-color: #b6d5e5;
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
  justify-content: center;
  border-radius: 10px;
}

.ulti-frisbee {
  float: right;
  height: auto;
  width: 250px;
  margin: 0 0 10px 10px;
  background-color: #b6d5e5;
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
}


.swe-sub {
  color: red;
}

.left-section {
  float: right;
  padding: 20px;
}

/* Hero Section */
.hero {
  text-align: left;
  margin-right: 20px;
  padding: 3rem;
  background: #f4f4f4;
  border-radius: 25px

}

/* skills CSS */
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 3rem;
  border-bottom: 4px dashed black;

}

.skill-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.skill-card h3 {
  color: #333;
  margin-bottom: 10px;
}

.skill-card p {
  color: #666;
  font-size: 14px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bold-text {
  font-weight: bold;
}

.edu-li{
  padding-bottom: 1rem;
  padding-right: 20rem;
}

h3.job-title {
  font-family:'Courier New', Courier, monospace;
  color: #1F3B73;
  padding-top: 2rem;
}

p.job-desc {
  padding-right: 20rem;
}

.projects-list{
  padding-bottom: 1rem;
  padding-right: 20rem;
}

.proj-link {
  font-weight: bold;
}


/* contact CSS */
.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.contact-form button {
  align-self: flex-start;
}
